@import 'base/mixins';
@import 'base/reset';

:root {
  --primary-color: #f99;
  --dark-color: #1f1f1f;
  --border-color: #473535;
  --inactive-color: #999;
  --padding: 1rem 1.3rem;
  --font-big: 0.9375rem;
  @include above(small) {
    --font-big: 1.25rem;
    --padding: 1.2rem 0;
  }
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  background-color: var(--dark-color);
  line-height: 1.5;
}

.options-page {
  font-size: rem(14);
  padding-bottom: 2rem;
}
.popup-page {
  font-size: rem(13);
}

img,
svg {
  vertical-align: middle;
}

a {
  color: var(--primary-color);
}

.color {
  color: var(--primary-color);
}
.white {
  color: white;
}
.uppercase {
  text-transform: uppercase;
}

.content {
  line-height: 1.75;
  margin-bottom: 1.6rem;
  padding: 0 1.3rem;
  @include above(small){
    padding: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    li {
      margin: 0.4rem 0;
    }
  }
}

.container {
  color: white;
  max-width: 500px;
  min-width: 320px;
  @include above(small) {
    padding: 0 2rem;
  }
}

.header {
  display: flex;
  line-height: 1.125;
  padding: var(--padding);
  @include above(small) {
    padding: 2rem 0;
  }
  h1 {
    margin-bottom: 2px;
    font-size: rem(13);
  }
  h2 {
    font-size: rem(9);
  }
  a {
    margin-left: auto;
  }
}

.footer {
  padding-top: 2rem;
}

.logo {
  margin-right: 1rem;
  margin-top: 2px;
}

.list {
  li {
    padding: 1.6rem 1.3rem;
    border-bottom: 1px solid var(--border-color);
    @include above(small) {
      padding: 2rem 0;
    }
    span {
      margin-left: 0.6rem;
    }
    svg {
      margin-top: -2px;
    }
  }
}

.link {
  display: inline-block;
  color: var(--primary-color);
  padding: var(--padding);
  display: flex;
  letter-spacing: 0.02em;
  img,
  svg {
    margin-left: auto;
    margin-top: 2px;
  }
}

.option {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid var(--border-color);
  font-size: var(--font-big);
  &:first-child {
    border-top: 1px solid var(--border-color);
  }
}

.checkbox {
  position: relative;
  appearance: none;
  width: 44px;
  height: 24px;
  background-color: var(--inactive-color);
  border-radius: 24px;
  transition-duration: 0.2s;
  vertical-align: middle;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    will-change: transform;
    transition-duration: 0.2s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  }

  &:checked {
    background-color: var(--primary-color);
    &:after {
      transform: translateX(20px);
    }
  }
}
