<form>
  <p class="option">
    <label for="google">Google</label>
    <input
      type="checkbox"
      class="checkbox"
      name="google"
      id="google"
      value="google"
    />
  </p>
  <p class="option">
    <label for="amazon">Amazon</label>
    <input
      type="checkbox"
      class="checkbox"
      name="amazon"
      id="amazon"
      value="amazon"
    />
  </p>
  <p class="option">
    <label for="facebook">Facebook</label>
    <input
      type="checkbox"
      class="checkbox"
      name="facebook"
      id="facebook"
      value="facebook"
    />
  </p>
  <p class="option">
    <label for="apple">Apple</label>
    <input
      type="checkbox"
      class="checkbox"
      name="apple"
      id="apple"
      value="apple"
    />
  </p>
  <p class="option">
    <label for="microsoft">Microsoft</label>
    <input
      type="checkbox"
      class="checkbox"
      name="microsoft"
      id="microsoft"
      value="microsoft"
    />
  </p>
</form>
