<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Low-radical options</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body class="options-page">
    <div class="container">
      <%= require('html-loader!./partials/_header.html').default %>
      
      <main>

        <div class="content">
          <p>
            Low—radical is an open source web extension and a tool of Digital Guerilla against ecocidal GAFAM corporations.<br>
            You can block, partially block or whitelist many domains and subdomains from Amazon, Apple, Facebook, Google and Microsoft so they can disappear from your browsing experience.
          </p>
  
          <ul>
            <li><a href="https://github.com/lowwebtech/low-radical" target="_blank">Learn more</a></li>
            <li><a href="" target="_blank">Share feedback</a></li>
            <li><a href="https://github.com/lowwebtech/low-radical/issues" target="_blank">Report issue</a></li>
          </ul>
        </div>

        <%= require('html-loader!./partials/_form.html').default %>

      </main>

      <footer class="footer content">
        <p>
          Low—radical is an initiative of low—web x Kuroneko.<br>
          Visit our websites to know more and help.
        </p>
        <ul>
          <li><a href="https://lowweb.tech/" target="_blank">low—web</a></li>
          <li><a href="https://kuroneko.io/" target="_blank">Kuroneko</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
