<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Low-Radical</title>
  </head>

  <body class="popup-page">
    <div class="container">
      <%= require('html-loader!./partials/_header.html').default %>
      
      <main>

        <p class="content">
          <button class="button whitelist">Whitelist</button>
        </p>

        <%= require('html-loader!./partials/_form.html').default %>      
  
        <ul class="list">
          <li class="color">
            <svg fill="none" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor"><path d="m6 9 2.15385 2 3.84615-4" stroke-linecap="round" stroke-linejoin="round"/><rect height="17" rx="8.5" width="17" x=".5" y=".5"/></g></svg>
            <span class="white">All subdomains blocked</span>
          </li>
        </ul>
  
        <a href="options.html" target="_blank" class="link">Whitelist subdomains <img src="assets/arrow.svg" width="6" height="10" /></a>

      </main>
    </div>
  </body>
</html>
